[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git@github.com:mpeeters/closetag.vim.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = git@github.com:mpeeters/vim-flake8.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git@github.com:mpeeters/bufexplorer.git
